<!DOCTYPE html>
<!--This is the Upper most level of html file you can manipulate. Anything stored in here will show up in every view/partial. For example: Navbar partial-->
<html>
  <head>
    <title>PropertyFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <!--Style depend on what controller is in use? o.O-->
  <body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
  <!--This line below is for authentication purposes....still don't really understand why I need it-->
  <% if ["public", "devise", "sessions"].include?(controller.controller_name) %>
    <head>
      <%= render "/layouts/nav/public" %>
      <%= yield %>
    </head>
  <% else %>
    <%= render "/layouts/nav/dashboard" %>
    <div class="container-fluid">
      <div class="row">
        <%= render "layouts/nav/sidebar" %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <%= yield %>
        </main>
      </div>
    </div>
  <% end %>
<!--  <p class="notice"><%#= notice %></p>-->
<!--  <p class="alert"><%#= alert %></p>-->


  <%#= yield %>

  <%#= render "/layouts/footer" %>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  </body>
</html>
